@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral--800: #1b1f24;
  --neutral--400: #c3cad5;
  --neutral--100: white;
  --neutral--500: #8895aa;
  --neutral--700: #2d343f;
  --neutral--300: #e4e7ec;
  --general--shadow-01: #14142b0f;
  --neutral--600: #5d6c83;
  --accent--primary-1: #075fe4;
  --secondary--color-1: #2e81ff;
  --neutral--200: #f0f2f4;
  --system--green-400: #11845b;
  --system--blue-400: #086cd9;
  --system--blue-300: #1d88fe;
  --system--blue-200: #8fc3ff;
  --system--blue-100: #eaf4ff;
  --system--green-300: #05c168;
  --system--green-200: #7fdca4;
  --system--green-100: #def2e6;
  --system--red-400: #dc2b2b;
  --system--300: #ff5a65;
  --system--red-200: #ffbec2;
  --system--red-100: #ffeff0;
  --system--orange-400: #d5691b;
  --system--orange-300: #ff9e2c;
  --system--orange-200: #ffd19b;
  --system--orange-100: #fff3e4;
  --general--shadow-02: #14142b14;
  --general--shadow-03: #14142b1a;
  --general--shadow-04: #14142b24;
  --general--shadow-05: #14142b29;
  --general--shadow-06: #14142b3d;
  --button-shadow--color-01: #4a3aff0f;
  --button-shadow--color-2: #3a8fff14;
  --button-shadow--color-03: #3a8fff14;
  --button-shadow--white-01: #14142b0a;
  --button-shadow--white-02: #14142b0f;
  --button-shadow--white-03: #14142b1a;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --radius: 0.5rem;
  --ring: 215 20.2% 65.1%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --input: 214.3 31.8% 91.4%;
  --border: 214.3 31.8% 91.4%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}
